[submodule "hdf5"]
	path = hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "jasper"]
	path = jasper
	url = https://github.com/mdadams/jasper.git
[submodule "netcdf-c"]
	path = netcdf-c
	url = https://github.com/Unidata/netcdf-c.git
[submodule "libpng"]
	path = libpng
	url = https://github.com/glennrp/libpng.git
[submodule "netcdf-fortran"]
	path = netcdf-fortran
	url = https://github.com/Unidata/netcdf-fortran.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "esmf"]
	path = esmf
	url = https://github.com/esmf-org/esmf
[submodule "libjpeg"]
	path = libjpeg
	url = https://github.com/LuaDist/libjpeg
[submodule "cmake-src"]
	path = cmake-src
	url = https://github.com/Kitware/CMake
[submodule "cmake"]
	path = cmake
	url = https://github.com/NOAA-EMC/CMakeModules
	branch = develop
[submodule "wgrib2"]
	path = wgrib2
	url = https://github.com/NOAA-EMC/NCEPLIBS-wgrib2
	branch = feature/cmake
